.btn{
  border-radius: 60px;
  font-size: 2rem;
  cursor: pointer;
  border: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.orange{
  background-color: #fe9505;
  color: white;
}
.lightGray{
  background-color: #a5a5a5;
  color: black;
}
.darkGray{
  background-color: #333333;
  color: white;
}
.btn:hover{
  filter: opacity(0.8)
}
.btn:visited{
  background-color: red;
}
.wide{
  grid-column: 1/3;
}
