.display{
  color: white;
  text-align: right;
  padding: 20px;
  height: 15vh;
  display: flex;
  align-items: center;
  overflow: auto;
  
}
.container-display{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}