body{
  /* background: rgb(245, 149, 149); */
  height: 100vh;
  /* background-image: url(./foto3.jpg);
  background-size: cover;
  background-position: center; */
  /* background: rgb(196,122,223); */
  /* background: linear-gradient(180deg, rgba(196, 122, 223, 0.774) 0%, rgba(145, 30, 171, 0.651) 0%, rgba(93, 156, 142, 0.671) 85%); */
  /* background-image: url(https://interactive-examples.mdn.mozilla.net/media/examples/balloon.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */

  background: linear-gradient(#3b8eac,#7a9bb0,#9c9eaa,#bba1a4,#e6a28d,#ffa163,#ff982d);

  /* backdrop-filter: blur(3px); */
  /* background: linear-gradient(to right, #C8d2fc, #facace, #feefc7); */
  /* filter: blur(4px); */
  font-family: 'Poppins', sans-serif;
}
*{
  font-family: 'Poppins', sans-serif;
}
 /* p */

.App {
  /* text-align: center;
  background-color: aliceblue; */

  display: grid;
  place-items: center;
  height: 100vh;
  background-color: rgba(255,255,255,0.1);

  /* background-color: rgba(255, 255, 205, 0.281); */
  backdrop-filter: blur(5px);
}

/* .container{
  width: 50%;
  margin: 0 auto;
  background-color: black;
  height: 100vh;
  padding: 20px;
} */
.container{
  background-color: black;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  align-content: space-around;
  /* height: 100vh; */
  position: relative;
  width: 100%;
}
@media screen and (min-width: 460px){
  .container{
    width: 460px;
  }
}