body{
  /* background: rgb(245, 149, 149); */
  height: 100vh;
  /* background-image: url(./foto3.jpg);
  background-size: cover;
  background-position: center; */
  /* background: rgb(196,122,223); */
  background: linear-gradient(180deg, rgba(196,122,223,1) 0%, rgba(145,30,171,1) 0%, rgba(93,156,142,1) 85%);
  background: linear-gradient(to right, #C8d2fc, #facace, #feefc7);
  font-family: 'Poppins', sans-serif;
}
*{
  font-family: 'Poppins', sans-serif;
}
.App {
  /* text-align: center;
  background-color: aliceblue; */

  display: grid;
  place-items: center;
  height: 100vh;
  background-color: rgba(255, 255,205,0.4);
  backdrop-filter: blur(12px);
}

/* .container{
  width: 50%;
  margin: 0 auto;
  background-color: black;
  height: 100vh;
  padding: 20px;
} */
.container{
  background-color: black;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  align-content: space-around;
  /* height: 100vh; */
  position: relative;
  width: 100%;
}
@media screen and (min-width: 580px){
  .container{
    width: 460px;
  }
}